<!DOCTYPE html>
<html>


<head>
  <title>📦 success!</title>
  <link rel="stylesheet" href="/static/main.css">
  <link rel="shortcut icon" href="/static/img/logo.png">
</head>


<body>
  <style>
    body {
      background: #FAC21F;
    }
  </style>
  <nav>
    <img src="/static/img/logo.png" ;width=75 ; height=75>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <ul>
      <li><a href="/products">products</a></li>
      <li><a class="active" href="/cart">cart</a></li>
      <li><a href="/logout">logout</a></li>
    </ul>
  </nav>
  <background:' /static/img/last.webp'>
    <img src="/static/img/textnew.png" width=100 height=100>
    <img src="/static/img/gif.gif" width=70% height=auto class="center">
    <h3 class="title">
      <center>
        <mark>your order has been placed! </mark>
      </center>
    </h3>

</body>

</html>